sudo: false
language: ruby
rvm:
- 2.4
- 2.5
notifications:
  email:
    on_success: never
before_install: gem install bundler -v 1.16.2
deploy:
  provider: rubygems
  api_key:
    secure: rCQbsoz5n/XlZtauOWgZxeuFJq1ADbd4ah8NGChR+dYuaZ/tn5FloZBMfFbhb/0Ps0dTPXOCSUW+xvEJhAZAd0F4JkWYrh1yMRz+UvnchM5uivyvME9oX2avxT0Jb9I2VeLFZiy4AcWsZB72+rYolxgAa8H10ANUWO43ldGmqjrLYFvR9cjYyPGBK5kQn8XhYj4nJMi2I32pOqZE/AzB7GBTdDUIoshsFKCQhdLcfZ4b44fMlMuP/ETY9CAXY+v33eiy7gwEesq6RzIO96XDHnwLIlFDhxvSgVlSNAMW/Gib07jEt49W/lJoe9bHt/dVyBE3uzxELfhat0KdDpQeMB3LURmhVnx53CSOZtouI8bl601E7Uj36D8R8dGj+03d+VmxDnQiXKYUMnjHEZeOmJ/+TIwTcZNx1aTxFNHOIrxJkyXlkzYLgV9+me10YnbywJOhhRHFBVp6+mpeaCRK5UtIHTFs2nPKX8AQ1fNvcWbD6LOdA6FpAKsqdjYDYJ+clp/ItG0BtlSinZg97+U3FgUySaas/JQSCT5nu5gz2Cmd+O1xtZQfaq+yCtN9qrwHxDFrxXkg/bdtBvBF4tX8hAmxk1ycd1kHzmkZZCFjYZwwoeF/3umFiWOarlorAESquKokGLw5A3E9cl/za96Mr64wdcGzKB0NL9TrJU8zRZ4=
  gem: amazoned
  on:
    repo: KelseyDH/amazoned
script:
- bundle exec rspec spec
